@import '../../global/basic.scss';

.resource-page {
    .create-content {
        display: grid;
        gap: 20px;
        height: fit-content;
    }

}
table {
    th {
        background-color: $componentColor !important;
    }
}